<!DOCTYPE html>
<html lang="en" ng-app="AppMusic">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="./assets/img/Default/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Allura&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/grid.css">
    <link rel="stylesheet" href="./assets/css/sidebar.css">
    <link rel="stylesheet" href="./assets/css/playmusic.css">
    <link rel="stylesheet" href="./assets/css/navAptAofooter.css">
    <link rel="stylesheet" href="./assets/css/gridmusic.css">
    <link rel="stylesheet" href="./assets/css/song.css">
    <link rel="stylesheet" href="./assets/css/songdetail.css">
    <link rel="stylesheet" href="./assets/css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="./assets/package/dirPagination.js"></script>
    <script src="./assets/js/main.js"></script>
</head>

<body>
    <div class="app">
        <nav class="sidebar" ng-controller="SidebarController">
            <div class="sidebar__header">
                <div class="sidebar__brand-name">
                    MM
                </div>
                <a class="sidebar__upgrade btn btn--primary btn-outline" href="#">
                    Nâng cấp
                </a>
            </div>
            <div class="sidebar__userAset">
                <a href="#!/nguoi-dung" class="sidebar__user" ng-click="changePage(-1)">
                    <div class="sidebar__user-avatar">
                        <img src="./assets/img/Default/1560232125002.jpg" alt="">
                    </div>
                    <div class="sidebar__user-name">
                        <span title="Unknown">Unknown</span>
                        <span>VIP</span>
                    </div>
                </a>
                <button class="btn sidebar__btn-setting">
                    <i class='bx bx-cog'></i>
                </button>
            </div>
            <div class="sidebar__navigation">
                <ul class="sidebar__navigation-listitem">
                    <li class="sidebar__navigation-item">
                        <a href="#!/tim-kiem" class="sidebar__navigation-link" ng-class="{active:isActive(0)}"
                            ng-click="changePage(0)">
                            <i class='bx bx-search'></i>
                            <span>Tìm kiếm</span>
                        </a>
                    </li>
                    <li class="sidebar__navigation-item">
                        <a href="#!/" class="sidebar__navigation-link" ng-class="{active:isActive(1)}"
                            ng-click="changePage(1)">
                            <i class='bx bxs-home'></i>
                            <span>Trang chủ</span>
                        </a>
                    </li>
                    <li class="sidebar__navigation-item">
                        <div class="sidebar__navigation-link show" ng-class="{active:isActive(2)}">
                            <i class='bx bxs-compass'></i>
                            <span>Khám phá</span>
                            <i class='bx bx-chevron-up'></i>
                        </div>
                        <div class="sidebar__navigation-listsubitem">
                            <div class="sidebar__navigation-subitem">
                                <a href="#!/kham-pha/bai-hat" class="sidebar__navigation-sublink"
                                    ng-class="{active:isSubActive(1)}" ng-click="changePage(2); changeSubPage(1)">
                                    <span>Bài hát</span>
                                </a>
                            </div>
                            <div class="sidebar__navigation-subitem">
                                <a href="#!/kham-pha/playlist" class="sidebar__navigation-sublink"
                                    ng-class="{active:isSubActive(2)}" ng-click="changePage(2); changeSubPage(2)">
                                    <span>Playlist</span>
                                </a>
                            </div>
                            <div class="sidebar__navigation-subitem">
                                <a href="#!/kham-pha/album" class="sidebar__navigation-sublink"
                                    ng-class="{active:isSubActive(3)}" ng-click="changePage(2); changeSubPage(3)">
                                    <span>Album</span>
                                </a>
                            </div>
                            <div class="sidebar__navigation-subitem">
                                <a href="#!/kham-pha/nghe-si" class="sidebar__navigation-sublink"
                                    ng-class="{active:isSubActive(4)}" ng-click="changePage(2); changeSubPage(4)">
                                    <span>Nghệ sĩ</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="sidebar__navigation-item">
                        <div class="sidebar__navigation-link show" ng-class="{active:isActive(3)}">
                            <i class='bx bxs-music'></i>
                            <span>Nghe gì hôm nay</span>
                            <i class='bx bx-chevron-up'></i>
                        </div>
                        <div class="sidebar__navigation-listsubitem">
                            <div class="sidebar__navigation-subitem">
                                <a href="#!/tuyen-tap" class="sidebar__navigation-sublink"
                                    ng-class="{active:isSubActive(5)}" ng-click="changePage(3); changeSubPage(5)">
                                    <span>Tuyển tập</span>
                                </a>
                            </div>
                            <div class="sidebar__navigation-subitem">
                                <a href="#!/top-100?n=vn&col=Col0000001" class="sidebar__navigation-sublink"
                                    ng-class="{active:isSubActive(6)}" ng-click="changePage(3); changeSubPage(6)">
                                    <span>Top 100</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="sidebar__navigation-item">
                        <a href="#!/bang-xep-hang" class="sidebar__navigation-link" ng-class="{active:isActive(4)}"
                            ng-click="changePage(4)">
                            <i class='bx bx-bar-chart'></i>
                            <span>BXH MM</span>
                        </a>
                    </li>
                    <li class="sidebar__navigation-library">THƯ VIỆN</li>
                    <li class="sidebar__navigation-item">
                        <a href="#!/my-playlist" class="sidebar__navigation-link" ng-class="{active:isActive(5)}"
                            ng-click="changePage(5)">
                            <i class='bx bx-cloud'></i>
                            <span>My Playlist</span>
                        </a>
                    </li>
                    <li class="sidebar__navigation-item">
                        <a href="#!/da-thich/bai-hat" class="sidebar__navigation-link" ng-class="{active:isActive(6)}"
                            ng-click="changePage(6)">
                            <i class='bx bx-heart'></i>
                            <span>Đã thích</span>
                        </a>
                    </li>
                    <li class="sidebar__navigation-item">
                        <a href="#!/da-nghe/bai-hat" class="sidebar__navigation-link" ng-class="{active:isActive(7)}"
                            ng-click="changePage(7)">
                            <i class='bx bx-history'></i>
                            <span>Lịch sử</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="home-main">
            <div ng-view>

            </div>

            <div class="footer">
                <div class="link">
                    <div class="service">
                        <ul class="nav_service">
                            <li><a href="#!/">Giới Thiệu</a></li>
                            <li><a href="#!/">SP-DV</a></li>
                            <li><a href="#!/">Hỗ Trợ</a></li>
                            <li><a href="#!/">Thỏa Thuận Người Dùng</a></li>
                        </ul>
                    </div>
                    <div class="service">
                        <ul class="nav_service">
                            <li><i class='bx bxl-facebook-square'></i></li>
                            <li><i class='bx bxl-google-plus-circle'></i></li>
                            <li><i class='bx bxl-apple'> </i></li>
                            <li><i class='bx bxl-microsoft'> </i></li>
                        </ul>
                    </div>
                </div>
                <div class="infor">
                    <p>Website được xây dựng bởi 3 thành viên: An, Nam, Tuyết</p>
                </div>
            </div>
        </section>

        <section class="play-music" ng-controller="PlayMusicController">
            <div class="background">
                <img src="./assets/img/Default/background10.jpg" alt="">
                <img src="./assets/img/Default/background1.jpg" alt="">
                <img src="./assets/img/Default/background2.jpg" alt="">
                <img src="./assets/img/Default/background3.jpg" alt="">
                <img src="./assets/img/Default/background4.jpg" alt="">
                <img src="./assets/img/Default/background5.jpg" alt="">
                <img src="./assets/img/Default/background6.jpg" alt="">
                <img src="./assets/img/Default/background7.jpg" alt="">
                <img src="./assets/img/Default/background8.jpg" alt="">
                <img src="./assets/img/Default/background9.jpg" alt="">
            </div>
            <div class="play-music__main">
                <div class="media">
                    <div class="media-left">
                        <img src="./assets/img/Song/{{song.Song.Image}}" alt="{{song.Song.SongName}}">
                    </div>
                    <div class="media-content">
                        <marquee class="song__name">
                            {{song.Song.SongName}}
                        </marquee>
                        <div class="song__artist">
                            <span ng-repeat="a in song.Artists">{{a.ArtistName}}</span>
                        </div>
                    </div>
                    <div class="media-right">
                        <div class="song__like">
                            <button class="btn btn--circle btn-song-like">
                                <i class='bx bx-heart'></i>
                            </button>
                        </div>
                        <div class="song__more">
                            <button class="btn btn--circle btn-song-more">
                                <i class='bx bx-dots-vertical-rounded'></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="controls">
                    <div class="controls__player">
                        <button class="btn btn--circle">
                            <i class='bx bx-shuffle'></i>
                        </button>
                        <button class="btn btn--circle">
                            <i class='bx bx-fast-forward bx-flip-horizontal'></i>
                        </button>
                        <button class="btn btn--circle">
                            <i class='bx bx-play'></i>
                            <!-- <i class='bx bx-pause'></i> -->
                        </button>
                        <button class="btn btn--circle">
                            <i class='bx bx-fast-forward'></i>
                        </button>
                        <button class="btn btn--circle">
                            <i class='bx bx-transfer'></i>
                        </button>
                    </div>
                    <div class="controls_time">
                        <span class="controls_time--right">00.00</span>
                        <input id="progress" class="controls_time--range" value="0" type="range" step="1" min="0"
                            max="100">
                        <audio autoplay id="audio" src="./assets/mp3/{{song.Song.SongPath}}" style="display: none;"></audio>
                        <span class="controls_time--left">03.22</span>
                    </div>
                </div>
                <div class="controls-extend">
                    <button class="btn btn--circle">
                        <i class='bx bxl-youtube'></i>
                    </button>
                    <button class="btn btn--circle btn-expand" ng-click="isFullScreen()">
                        <i class='bx bx-fullscreen' ng-hide="open"></i>
                        <i class='bx bx-exit-fullscreen' ng-show="open"></i>
                    </button>
                    <div class="volume">
                        <button class="btn btn--circle">
                            <i class='bx bx-volume-full'></i>
                        </button>
                        <input class="controls_volume" value="100" type="range" step="1" min="0" max="100">
                    </div>
                    <button class="btn btn--circle">
                        <i class='bx bx-slider-alt'></i>
                    </button>
                </div>
            </div>
        </section>
    </div>
</body>

</html>