/* main contain */
.submain_contain {
    margin: 0 320px 0 200px;
    padding: 24px 0 0;
}

/* header */
.nav {
    height: 48px;
    border-bottom: 1px solid var(--border-color);
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-item {
    min-width: 120px;
    margin: 0 12px;
    height: 100%;
}

.nav-item a {
    position: relative;
    font-size: 1.4rem;
    font-weight: 600;
    width: 100%;
    line-height: 48px;
    text-align: center;
}

.nav-item a.active::after {
    transform: scale(1);
}

.nav-item a::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: var(--main-color);
    left: 0;
    bottom: 0;
    transform: scale(0);
    transition: transform 200ms linear;
}

.nav-item a:hover::after {
    transform: scale(1);

}
/* content */
.content {

}

.list-playlist__item {
    padding-bottom: 24px;
}

/* wrap-layout */
.wrap-layout {
    margin-top: 36px;
    padding: 12px 0 32px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* number */
.number{
    margin: auto;
    display: block;
    border: 1px solid var(--bg-color-blur3);
    border-radius: 24px;
}

.number li {
    width: 42px;
    height: 42px;
    border-right: 1px solid var(--bg-color-blur3);
    list-style: none;
    float: left;
    line-height: 42px;
    text-align: center;
}

.number li a {
    text-align: center;
    text-decoration: none;
    color: var(--text-color-blur);
    font-size: 1.4rem;
    width: 100%;
    font-weight: 600;
}

.number li a i {
    font-size: 2.4rem;
    display: block;
    line-height: 42px;
}

.number li:hover a {
    color: var(--main-color);
}

.number li:last-child {
    border-right: none !important;
}

.number li a.active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.number li:last-child:hover a,
.number li:first-child a {
    border-bottom: none !important;
}