/* Home-main slide */
.home-main {
    margin: 0 320px 0 200px;
    padding: 24px 0 0;
}

.home-main__slide {
    margin: 0 16px;
    cursor: pointer;
    overflow-x: hidden;
}

.home-main__slide-list {
    transform: translateX(-100%);
    display: flex;
    cursor: grab;
}

.home-main__slide-list.animation {
    transition: transform linear 0.3s;
}

.home-main__slide-item {
    width: 100%;
    flex-shrink: 0;
}

.home-main__slide img {
    border-radius: 4px;
    object-fit: cover;
}

.home-main__slide-pick {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.home-main__slide-pick-item {
    width: 6px;
    height: 6px;
    border-radius: 4px;
    background-color: var(--bg-color-blur3);
    margin: 5px;
    cursor: pointer;
    transition: width 200ms linear;
}

.home-main__slide-pick-item.picked {
    width: 18px;
    background-color: var(--main-color);
    cursor: default;
}

/* Realease */
.released__main {
    margin-top: 16px;
}

.released__show {
    height: 20rem;
    display: flex;
    padding: 2rem 4rem;
    margin-bottom: 2.4rem;
    background-color: var(--bg-color2);
}

.released__img {
    margin-right: 4rem;
    width: 16rem;
    height: 16rem;
    box-shadow: 0 8px 16px rgb(0 0 0 / 20%);
}

.released__img img {
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    object-fit: cover;
}

.released__name {
    text-transform: capitalize;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.released__artist {
    display: flex;
    align-items: center;
    margin-top: 0.8rem;
}

.released__artist-img {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--white-color);
    position: relative;
    object-fit: cover;
}

.released__artist-img + .released__artist-img {
    margin-left: -8px;
}

.released__artist-name {
    color: var(--text-color-blur);
    font-size: 1.3rem;
    margin-left: 1rem;
}

.released__artist-name a:hover {
    color: var(--main-color);
}

.released__date {
    margin-top: 0.8rem;
    font-size: 1.3rem;
    color: var(--text-color-blur);
    display: flex;
    align-items: center;
}

.released__date i {
    font-size: 2rem;
    padding-right: 0.4rem;
}

.released__date span {
    padding-left: 0.4rem;
}

.released__picked {
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    height: 8rem;
}

.released__picked-item {
    margin: 0 0.8rem;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgb(0 0 0 / 20%);
}

.released__picked-item img {
    height: 8rem;
    width: 8rem;
    object-fit: cover;
}

.released__picked-item:hover .released__picked-play {
    display: flex;
}

.rank-main__song-play,
.released__picked-play {
    background-color: var(--shadow-color);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    cursor: pointer;
}

.rank-main__song-play .btn,
.released__picked-play .btn {
    transform: scale(0.6);
}

.rank-main__song-play .btn:hover,
.released__picked-play .btn:hover {
    transform: scale(0.7);
}

/* Rank */
.home-main__rank-main {
    margin: 16px 32px 0;
}

.rank-main__item {
    height: 320px;
    position: relative;
    background-color: var(--bg-color-blur);
    border-radius: 4px;
}

.rank-main__item > img {
    height: 160px;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.rank-main__name {
    position: absolute;
    top: 36px;
    left: 24px;
    font-size: 2.8rem;
    text-transform: uppercase;
    color: var(--white-color);
    z-index: 1;
}

.rank-main__song {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    top: 92px;
}

.rank-main__song:nth-child(3) {
    left: 24px;
    z-index: 4;
}

.rank-main__song:nth-child(4) {
    left: 68px;
    z-index: 3;
}

.rank-main__song:nth-child(5) {
    left: 110px;
    z-index: 2;
}

.rank-main__song img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rank-main__song:hover {
    z-index: 5;
}

.rank-main__song:hover .rank-main__song-play {
    display: flex;
}

.rank-main__pick-info {
    position: absolute;
    bottom: 88px;
    left: 24px;
}

.rank-main__pick-info-name {
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: capitalize;
}

.rank-main__pick-info-name:hover {
    color: var(--main-color);
    cursor: pointer;
}

.rank-main__pick-info-artist {
    font-size: 1.3rem;
    text-transform: capitalize;
    color: var(--text-color-blur);
}

.rank-main__pick-info-artist span:hover {
    color: var(--main-color);
    cursor: pointer;
}

.rank-main__btn-view-all.btn--primary {
    border-radius: 4px;
    position: absolute;
    bottom: 32px;
    left: 24px;
    width: 120px;
    height: 32px;
}

.rank-main__order-number {
    position: absolute;
    top: 180px;
    right: 33px;
    font-size: 5.6rem;
    font-weight: 700;
    color: var(--bg-color-blur2);
}
