/* PlayMusic */
.play-music {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
}

.play-music__header {
    margin-top: 24px;
    text-align: center;
}

.play-music__header img {
    box-shadow: rgb(0 0 0 / 20%) 0 8px 16px;
    width: 240px;
    height: 240px;
    border-radius: 4px;
}

.play-music__header p {
    font-size: 1.3rem;
    margin: 40px 0;
    width: 240px;
    text-align: center;
    margin-bottom: 24px;
}

.play-music__btn-listen {
    padding: 6px 18px;
}